.hamster-container {
    display: flex;
    justify-content: center;
}

.hamster-box {
    border: 2px solid lightseagreen;
    padding: 5rem 5rem;
    margin: 2rem 5rem;
    max-width: 80%;
}

img {
    width: 20vw;
    height: 25vh;
}

span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}
span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
    position: absolute;
    content: "Vote";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}
span a:before {
    color: #fff;
    background: #626977;
    transform: rotateY(0deg) translateZ(25px);
}
span a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

h3 {
    color: whitesmoke;
    font-size: 24px;
}
